mixin form-change-multi(action, page)
    form(
        action= action
        method="POST"
        form-change-multi
    )
        //- Hidden input = cách duy nhất để form gửi thêm dữ liệu mà user không cần nhập
        input(type="hidden" name="page" value=page)
        .d-flex.align-items-start 
            .form-group 
                select(name="type" class="form-control")
                    option(disabled selected) -- Chọn hành động --
                    if(role.permissions.includes("products_edit"))
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                    if(role.permissions.includes("products_delete"))
                        option(value="delete-all") Xóa tất cả
                    if(role.permissions.includes("products_edit"))
                        option(value="change-position") Thay đổi vị trí
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
                //- lúc đầu hiển thị ô input này để dễ hình dung
                //- sau khi đã xử lý xong front-end có thể ẩn đi
            button(type="submit" class="btn btn-primary") Áp dụng